	{{#list}}
	<h2><a href="/{{_id}}">{{title}}</a></h2>
	<div>
		{{content}}
	</div>
	{{/list}}
	
	<a href="/?page=1">首页</a>
	{{#pager.list}}
		<a href="/?page={{.}}">{{.}}</a>
	{{/pager.list}}
	<a href="/?page={{pager.maxPage}}">末页</a>
