<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>{{title}}</title>
	</head>
	<body>
	<h1>Feather Blog</h1>
	{{{yield}}}
	<div>
		<div>&copy; 2014 Feather Blog All Rights Reserved</div>
		<img src="https://raw.githubusercontent.com/wxnet2013/feather/gh-pages/imgs/logo.png">
	</div>
	</body>
</html>